:root {
    --main: white;
    --second: #F6F6F7;
    --third: #EBEBEF;

    --big-text: #3C3C43;
    --small-text: #67676C;

    --main-blue: #54C5F8;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 6.5vh;
}